#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        padding: 10px 20px;

        label {
            font-size: 1.1rem;
            font-weight: 300;
            color: #5d5d5d;
            margin: 10px 0 5px 0;
        }

        input {
            padding: 5px;
            margin: 0 0 10px 0;
            border: none;
            transition: .3s;
        }

        input:not(#fileInput) {        
            border-bottom: 1px solid #c7c7c7;       

            &:focus,
            &:not(:placeholder-shown) {
                border-bottom: 1px solid #808080;
            }
        }

        button {
            border: none;
            color: #000;
            background: #cacaca;
            padding: 10px 15px;
            font-weight: 300;
            transition: .3s;

            &:hover {
                background: #b4b4b4;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width : 400px) {
    #wrapper {
        form {
            width: 80%;
        }
    }
}